<h3><%= processo %></h3>
<hr/>
<%= hidden_field_tag :processo, processo, class: "form-control" %>
<%= hidden_field_tag :nome_batch, klass, class: "form-control" %>

<div class="form-group">
  <%= label_tag "Ano/Mês", nil, class: "col-sm-2 control-label" %>
  <div class="col-sm-2">
    <%= text_field_tag :ano_mes_referencia, '', class: "form-control" %>
    <span id="helpBlock" class="help-block">exemplo: 201601</span>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= button_tag "Inserir", class: "btn btn-primary" %>
  </div>
</div>