<div class="menu-header">
  <ul id="menutabs" class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#consulta" data-toggle="tab" role="tab">Consultar Processos</a></li>
    <li><a href="#adiciona" data-toggle="tab" role="tab">Inserir Processos</a></li>
  </ul>
</div>
<div class="tab-content">
  <div class="tab-pane fade in active" id="consulta">
    <%= render partial: 'consulta_processos', locals: { filtros: @filtros, processos: @processos } %>
  </div>
  <div class="tab-pane fade" id="adiciona">
    <%= render partial: 'adiciona_processo' %>
  </div>
</div>
