<div class="page-header">
  <%= build_breadcrumb [
    { title: "Processos", active: true },
  ] %>

  <div class="actions pull-right">
    <%= build_header_button('novo', :processo, new_processo_path) %>
  </div>
  <h1>Consulta de Processos</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form_tag filtrar_processos_path, method: :get, class: "form-horizontal", role: "form" do |f| %>
      <div class="form-group">
        <%= label_tag "Processo", nil, class: "col-sm-2 control-label" %>
        <div class="col-sm-8">
          <%= text_field_tag :processo, params[:term], id: "processos-search", placeholder: "tipo de processo", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag "Usuário", nil, class: "col-sm-2 control-label" %>
        <div class="col-sm-8">
          <%= text_field_tag :usuario, params[:term], id: "usuarios-search", placeholder: "nome do usuário", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag "Grupo", nil, class: "col-sm-2 control-label" %>
        <div class="col-sm-8">
          <%= text_field_tag :grupo, '', placeholder: "número do grupo", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag "Início", nil, class: "col-sm-2 control-label" %>
        <div class="col-sm-8">
          <div class='input-group date datetimepicker'>
            <%= text_field_tag :data_processo_inicio, '', :'data-format' => "dd/MM/yyyy hh:mm:ss", placeholder: "dd/mm/aaaa hh:mm:ss", class: "form-control" %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag "Término", nil, class: "col-sm-2 control-label" %>
        <div class="col-sm-8">
          <div class='input-group date datetimepicker'>
            <%= text_field_tag :data_processo_final, '', :'data-format' => "dd/MM/yyyy hh:mm:ss", placeholder: "dd/mm/aaaa hh:mm:ss", class: "form-control" %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag "Situação", nil, class: "col-sm-2 control-label" %>
        <div class="col-sm-8">
          <%= select_tag :situacao, options_from_collection_for_select(ProcessoSituacao.all, "descricao", "descricao"), include_blank: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= button_tag "Pesquisar", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= @filtros[:situacao] %></div>
      <center>
        <h3>Total</h3>
        <h1>
          <%= @total %>
          <small>processos</small>
        </h1>
      </center>
      <ul class="list-group">
        <% if not @filtros[:processo].blank? %>
          <li class="list-group-item">
            <strong>Processo</strong>
            <span><%= @filtros[:processo] %></span>
          </li>
        <% end %>
        <% if not @filtros[:usuario].blank? %>
          <li class="list-group-item">
            <strong>Usuário</strong>
            <span><%= @filtros[:usuario] %></span>
          </li>
        <% end %>
        <% if not @filtros[:grupo].blank? %>
          <li class="list-group-item">
            <strong>Grupo</strong>
            <span><%= @filtros[:grupo] %></span>
          </li>
        <% end %>
        <% if not @filtros[:data_processo_inicio].blank? %>
          <li class="list-group-item">
            <strong>Início</strong>
            <span><%= @filtros[:data_processo_inicio] %></span>
          </li>
        <% end %>
        <% if not @filtros[:data_processo_final].blank? %>
          <li class="list-group-item">
            <strong>Final</strong>
            <span><%= @filtros[:data_processo_final] %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<hr/>
<%= render partial: "processos", locals: { processos: @processos } unless @processos.blank? %>
