<div class="page-header">
  <%= build_breadcrumb [
    { title: "Processos", link: processos_path },
    { title: "Novo Processo", active: true }
  ] %>

  <h1>Novo Processo</h1>
</div>

<div class="row">
  <div class="col-md-10">
    <%= form_tag configura_processos_path, class: "form-horizontal", role: "form", remote: true do |f| %>
      <div class="form-group">
        <%= label_tag "Processo", nil, class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
          <%= text_field_tag :novo_processo, params[:term], id: "novo-processo-search", placeholder: "tipo de processo", class: "form-control" %>
        </div>
        <div class="col-sm-2">
          <%= button_tag "Configurar", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="novo-processo">
  <%= render partial: 'novo_processo', locals: { novo_processo: params[:novo_processo] } %>
</div>
