<div class="page-header">
  <%= build_breadcrumb [
    { title: "Processos", link: processos_path },
    { title: "#{@processo.nome}", active: true }
  ] %>

  <h1>Informações do Processo</h1>
</div>

<div id="refresh">
  <div id="infos-processo">
    <div class="panel panel-default">
      <div class="panel-heading">Informações Gerais</div>
      <center>
        <h3><%= @processo.nome %></h3>
      </center>

      <ul class="list-group">
        <li class="list-group-item">
          <strong>Id:</strong>
          <span><%= @processo.id %></span>
        </li>
        <% if not @processo.usuario.nome.blank? %>
          <li class="list-group-item">
            <strong>Usuário:</strong>
            <span><%= @processo.usuario.nome %></span>
          </li>
        <% end %>
        <% if not @processo.grupo.blank? %>
          <li class="list-group-item">
            <strong>Grupo:</strong>
            <span><%= @processo.grupo unless @processo.grupo.blank? %></span>
          </li>
        <% end %>
        <% if not @processo.hora_inicio.blank? %>
          <li class="list-group-item">
            <strong>Início:</strong>
            <span><%= @processo.hora_inicio.strftime('%d/%m/%Y %H:%M:%S') %></span>
          </li>
        <% end %>
        <% if not @processo.hora_termino.blank? %>
          <li class="list-group-item">
            <strong>Final:</strong>
            <span><%= @processo.hora_termino.strftime('%d/%m/%Y %H:%M:%S') %></span>
          </li>
        <% end %>
        <% if not @processo.situacao.blank? %>
          <li class="list-group-item">
            <strong>Situação:</strong>
            <span><%= @processo.situacao.descricao %></span>
          </li>
        <% end %>
        <% if not @processo.parametros.blank? %>
          <li class="list-group-item">
            <strong>Parâmetros:</strong>
            <ul>
              <% @processo.parametros.each do |parametro| %>
                <% if not parametro.nome == "percentualProcessado" %>
                  <li><span><strong><%= "#{parametro.nome}" %></strong><%= " = #{parametro.valor}" %></span></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
        <li class="list-group-item">
          <% @processo.atividades_exibidas.each do |atividade| %>
            <%= link_to "", reiniciar_atividade_path(atividade.id), method: :post, title: "Reiniciar atividade", class: "glyphicon glyphicon-refresh reiniciar-atividade" if @processo.parado? %>
            <strong><%= atividade.descricao.capitalize %></strong>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="<%= calcula_percentual_atividade(atividade) %>" aria-valuemin="0" aria-valuemax="100" style='<%= "width: #{calcula_percentual_atividade(atividade)}%;" %>'>
                <%= calcula_percentual_atividade(atividade) %>%
              </div>
            </div>
          <% end %>
        </li>
        <li class="list-group-item">
          <span><%= link_to "Reiniciar", processo_path(@processo.id), method: :put, class: "btn btn-primary" if @processo.parado? %></span>
          <span><%= link_to "Cancelar Processo", processo_path(@processo.id), method: :delete, class: "btn btn-danger", data: {confirm: "Você tem certeza que deseja parar o processo?"} unless @processo.parado? %></span>
          <span><%= link_to "Voltar", root_path, class: "btn btn-default" %></span>
        </li>
      </ul>
    </div>
    <% if @processo.em_processamento? %>
      <div class="panel panel-default">
        <div class="panel-heading">Log de Execução</div>
        <ul class="list-group">
          <li class="list-group-item">
            <%= simple_format log_processo(@processo) %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>